{% extends "layout.html" %}

{% block content %}
This is an stretched grid column. This segment will always match the tab height
Example
{{object}}
<div class="ui secondary vertical pointing menu">
  {% for season in seasons %}
  <a class="item {% if forloop.first %}active{% endif %}">
    {{season}}
  </a>
  {% endfor %}
</div>
<script>
jQuery(document).ready(function() {
  var links = jQuery('a.item')
  links.click(function(evt){
    evt.stopPropagation()
    links.removeClass('active')
    jQuery(evt.target).addClass('active')
  })
})
</script>
{% endblock content %}
