{% extends "layout.html" %}
{% load static %}
{% load league %}

{% block content %}
<div class="ui grid">
  <div class="column three wide">
    <!-- sidebar spacer -->
    &nbsp;
  </div>
  <div class="column thirteen wide">
    <!-- Start league Top Menu -->
    <menu class="ui secondary pointing menu league">
      {% for league in object_list %}
      {% if active_league %}
      <a class="{% if active_league.id == league.id %}active{% endif %} item" href="{% url 'allstar-league-detail' pk=league.id content_type=league.get_ct.name ct_id=league.get_ct_id slug=league.abbreviation|lower %}" data-active="{{active_league}}">
          {{league.abbreviation}}
        </a>
      {% else %}
        <a class="{% if forloop.first %}active{% endif %} item" href="{% url 'allstar-league-detail' pk=league.id content_type=league.get_ct.name ct_id=league.get_ct_id slug=league.abbreviation|lower  %}">
          {{league.abbreviation}}
        </a>
      {% endif %}
      {% endfor %}
    </menu>
    <!-- End league Top Menu -->


    <!-- START FOUNDERS GRID -->
    {% with league=active_league %}
    <div class="ui grid ">
      <div class="ten wide column">
        <div class="ui horizontal list small">
          {% for founder in league.founders.all %}
          <div class="item stackable">
            {% if founder.avatar %}
            <img class="ui avatar image" src="{{founder.avatar.medium.url}}" />
            {% else %}
            <img class="ui avatar image" src="{% static 'allstar/img/avatar/default.png' %}" />
            {% endif %}
            <div class="content">
              <div class="header">{{founder.get_full_name}}</div>
              Founder
            </div>
          </div>
          {% empty %}
          <!-- empty -->
          {% endfor %}
        </div>
      </div>
      {% with stats=league.get_league_stats %}
      <div class="six wide column">
        <div class="ui mini statistic column ">
          <div class="value">{{stats.teams}}</div>
          <div class="label">Teams</div>
        </div>
        <div class="ui mini statistic column ">
          <div class="value">{{stats.games}}</div>
          <div class="label">Games</div>
        </div>
        <div class="ui mini statistic column ">
          <div class="value">{{stats.points}}</div>
          <div class="label">points</div>
        </div>
      </div>
      {% endwith %}
    </div>
    <!-- END FOUNDERS GRID -->
  </div>

  <!-- START MAIN CONTENT GRID -->
  <div class="ui grid">
    <!-- START SEASON SIDE MENU -->
    <div class="three wide column">
      <p>
      </p>
      <menu class="ui secondary pointing vertical menu compact season">
        <a class="item active" href="#" data-tab="tab-history">
          History
        </a>
        {% for season in seasons %}
<a class="item" href="#" data-tab="tab-team" data-season="{{season.pk}}" data-league={{league.pk}} data-content_type="{{league.get_ct.name}}" data-ct_id="{{league.get_ct_id}}" data-slug="{{league.abbreviation|lower}}">
          {{season.pk}}
        </a>
        {% endfor %}
      </menu>
    </div>
    <!-- END SEASON SIDE MENU -->

    <section class="thirteen wide column" id="rail">

      <div class="ui unstackable items row column tab active" data-tab="tab-history">
        <!-- START LEAGE HISTORY-->
        <div class="ui item middle aligned content">
          <div>
            <h1 class="ui header">{{league.name}}</h1>
            {% if league.logo %}
            <img class="ui small left floated image" src="{{league.logo.large.url}}">
            {% endif %}
            <article>
            {% lorem 20 p random %}
            </article>
          </div>
        </div>
        <!-- END TEAM HISTORY -->
      </div>
      <div class="ui stackable items row column divided tab" data-tab="tab-team">
        {% for team in league.teams %}
        <!-- START TEAM LIST -->
        <div class="ui item middle aligned content column row">
          <div class="ui small circular image">
            {% if team.logo %}
            <img src="{{team.logo.medium.url}}" />
            {% else %}
            <img class="logo" src="{% static 'allstar/img/logos/allstar-logo.png' %}">
            {% endif %}
          </div>
          <div class="middle aligned content">
            <a class="header" href="{{team.get_absolute_url}}">{{team.name}}</a>
            <div class="meta">
              <span>
                <span class="right">{{team.record|record}}</span>
              </span>
            </div>
            <div class="description">
              <p>
              {% lorem 150 w random %}
              </p>
            </div>
            <div class="extra">
              <div class="ui left floated">{{team.city|title}}, {{team.state|upper}}</div>
              <div class="ui right floated">
                <span data-tooltip="League Championship" data-inverted="">
                  <i class="silver trophy icon" alt="championship"></i>
                </span>
                <span data-tooltip="Players awared to allstar game" data-inverted="">
                  <i class="yellow star icon" alt="championship"></i>
                </span>
                <span data-tooltip="Cold Streak" data-inverted="">
                  <i class="blue thermometer icon" alt="championship"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
        <!-- END TEAM LIST -->
        {% endfor %}

      </div>
    {% endwith %}
    </section>
  </div>
  <!-- END MAIN CONTENT GRID -->
</div>
{% endblock %}

{% block scripts %}
<script>
jQuery(document).ready(function() {
  jQuery.fn.api.settings.api = {
    'teams by year': '/allstar/league/{league}/{content_type}-{ct_id}/{slug}/teams/{season}'
  }

  jQuery('menu.season')
    .sticky({
      context: '#rail'
    , offset: 100
    , bottomOffset: 50
    })
  jQuery('menu.secondary').on('click', 'a', function(evt){
    jQuery('#allstar-progress')
      .progress('increment', 5)

    jQuery(this)
      .addClass('active')
      .siblings('.item.active')
      .removeClass('active')
  })

  jQuery('menu.secondary.season a')
  .api({
    action: 'teams by year'
  })
  jQuery('menu.season .item').tab({
    debug:true
  , verbose: true
  , context: '#rail'
  , selector: {
      tabs: '.ui.tab'
    }
  })
})
</script>
{% endblock scripts %}
