{% load static %}
{% load league %}
{% for team in teams %}
        <div class="ui item middle aligned content column row">
          <div class="ui small circular image">
            {% if team.logo %}
            <img src="{{team.logo.medium.url}}" />
            {% else %}
            <img class="logo" src="{% static 'allstar/img/logos/allstar-logo.png' %}">
            {% endif %}
          </div>
          <div class="middle aligned content">
            <a class="header" href="{{team.get_absolute_url}}">{{team.name}}</a>
            <div class="meta">
              <span>`
                <span class="right">{{team.record|record}}</span>
              </span>
            </div>
            <div class="description">
              <p>
              {% lorem 150 w random %}
              </p>
            </div>
            <div class="extra">
              <div class="ui left floated">{{team.city|title}}, {{team.state|upper}}</div>
              <div class="ui right floated">
                <span data-tooltip="League Championship" data-inverted="">
                  <i class="silver trophy icon" alt="championship"></i>
                </span>
                <span data-tooltip="Players awared to allstar game" data-inverted="">
                  <i class="yellow star icon" alt="championship"></i>
                </span>
                <span data-tooltip="Cold Streak" data-inverted="">
                  <i class="blue thermometer icon" alt="championship"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
{% endfor %}
