{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Allstar league{% endblock title %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'allstar/semantic/semantic.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'allstar/css/allstar.css' %}">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <style>
      .sticky-footer {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
      }

      .sticky-footer-content {
        flex: 1;
      }
      .menu .logo {
        position: relative;
        top: -7px;
      }
      main.container {
        margin: 7em 0;
      }
      .menu.ui.fixed.inverted {
        margin-top: 2px;
      }
      .ui.progress .bar {
        min-width:0
      }
    </style>
  </head>
  <body class="sticky-footer">
    {% block container %}
    {% endblock container %}
  </body>
  <script src="{% static 'allstar/semantic/semantic.js' %}"></script>
  <script src="{% static 'allstar/semantic/components/sticky.js' %}"></script>
  <script src="{% static 'allstar/semantic/components/progress.js' %}"></script>
  <script src="{% static 'allstar/semantic/components/tab.js' %}"></script>
  {% block scripts %}
  {% endblock scripts %}
</html>
